#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards,
.header {
  display: flex;
  flex-direction: row;
}

.header {
  margin-bottom: 32px;
}

.cards {
  gap: 16px;
}

.card {
  padding: 2em;
  border-radius: 5px;
  width: 150px;
  height: 250px;
}

.add-card {
  border: 1px solid #e8e8e8;
}
